# Logs
logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# PyCharm
.idea/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

