body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    height: 100%;
    margin: 3rem;
    z-index: 1;
    border-style: solid;
    background-color: white;
    position: relative;
    display: block;
}
